table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
}
th {
  background-color: #f4f4f4;
  color: rgb(10, 73, 155);
}

.text-info {
  color: rgb(10, 73, 155);
  font-weight: bold;
  font-size: 30px;
}

.btn-primary {
  background-color: #337ab7;
  color: white;
}

.btn-warning {
  background-color: #f0ad4e;
  color: white;
}

.btn-danger {
  background-color: #d9534f;
  color: white;
}

.btn-success{
  background-color: #008600;
  color: white;
}